<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Enable URL Rewriting -->
        <rewrite>
            <rules>
                <rule name="CImage Friendly URLs" stopProcessing="true">
                    <match url="^image/(.*)$" />
                    <action type="Rewrite" url="img.php?src={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Directory Browsing Settings -->
        <directoryBrowse enabled="false" />
        
        <!-- Default Document Settings -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Handler Mappings for PHP -->
        <handlers>
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,HEAD,POST" 
                 modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" 
                 resourceType="Either" requireAccess="Script" />
        </handlers>
        
        <!-- Security Settings -->
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        
        <!-- Static Content Settings -->
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        
        <!-- Error Pages -->
        <httpErrors errorMode="Detailed" />
        
    </system.webServer>
    
    <!-- PHP Settings -->
    <system.web>
        <compilation debug="true" />
        <httpRuntime executionTimeout="300" maxRequestLength="51200" />
    </system.web>
</configuration>